.mapContainer {
    width: auto;
    height: 500px;
  }
  
  .map-container-detail {
    width: auto;
    height: 250px;
  }
  
  .map-container {
    width: auto;
    height: 500px;
  }
  
  .legend {
    max-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 12px 24px;
    margin: 20px;
    font-size: 13px;
    line-height: 2;
    color: #6b6b76;
    text-transform: uppercase;
    outline: none;
  }